 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
 </head> 
 <body>
   

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Blogapp</a>
        <ul class="navbar-nav me-auto">
        <li class="nav-item"> 
            <a href="/blogs" class="nav-link">Blog listesi</a>
        </li>
    </ul>
    </div>
</nav>

    <div class="container mt-3">
        <div class="row">
            <div class="cold-md-3">
            <div class="list-group">

                <a href="" class="list-group-item list-group-item-action">web geliştirme</a>
                <a href="" class="list-group-item list-group-item-action">Mobil Uygulamalar</a>
                <a href="" class="list-group-item list-group-item-action">Veri Analizi</a>
                <a href="" class="list-group-item list-group-item-action">Programlama</a>
            </div>
            </div>
            <div class="cold-md-9">
                <h1 class="h3 mb-3">Anasayfa</h1>
                <div class="card mb-3">
                
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/1.png" class="img-fluid" alt="">
                        </div>
                        <div class="cold-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Komple Uygulamalı Web geliştirme
                                </h5>
                                <p class="card-text">To serve static files such as images, CSS files, and JavaScript files, use the express.static built-in middleware function in Express.

                                    The function signature is:</p>
                            </div>  
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/2.png" class="img-fluid" alt="">
                        </div>
                        <div class="cold-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Nodejs 
                                </h5>
                                <p class="card-text">To use multiple static assets directories, call the express.static middleware function multiple times:</p>
                            </div>  
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/static/images/3.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="cold-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Nodejs Nodejs 
                                    </h5>
                                    <p class="card-text">Now, you can load the files that are in the public directory from the /static path prefix.</p>
                                </div>  
                            </div>
                        </div>
                    </div>

            </div>
            </div>
        </div>
    
    </div>
 </body>
 </html>